.App {
    font-family: sans-serif;
    text-align: center;
}

.slider-parent {
    position: relative;
    background-color: black;
}

.buble {
    position: absolute;
    overflow: hidden;
    background-color: black;
}

.color {
    cursor: pointer;
    -webkit-appearance: none;
    background-color: white;
    border-radius: 50px;
    height: 5px;

}